<section class="bg-sky-400 w-screen h-screen justify-center flex flex-col items-center">
    <div *ngIf="showRegistrationSuccessMessage" class="alert alert-success">
        Registration successful. Please log in with your credentials.
      </div>
    <div *ngIf="invalidCredentials">
        <h1>Please enter a valid username and password</h1>
    </div>
    <div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit()" class="border-2 border-solid border-black p-10 inset-1 flex flex-col bg-white" method="post" name="loginform">
            <label for="username">USERNAME</label>
            <input class="m-5 border-black border-1 border p-2" type="email" placeholder="email" [(ngModel)]="username"  name="email" >
            <label for="password">PASSWORD</label>
            <input class="m-5 border-black border-1 border p-2" type="password" placeholder="password"  [(ngModel)]="password" name="password">
            <button class="text-center bg-sky-400 p-1" type="submit" value="submit">SUBMIT</button>
            <a class="text-center p-1" routerLink="/register">Register</a>
        </form>
    </div>
</section>

<!-- <p *ngFor="let d of Data">{{d.data.username}}</p> -->