<app-teamleader-header></app-teamleader-header>
<div class="m-10">
    <h1 class="inline font-bold text-2xl">Task List</h1>
    <button class="bg-sky-400 ml-auto mr-5 justify-end flex p-2" >+ Add new task</button>
</div>
<div class="flex flex-1">
<div>
    <table class="text-center m-10">
      <tr class="border-4 p-2">
        <th class="border-4 p-2">Status</th>
          <th class="border-4 p-2">task</th>
            <th class="border-4 p-2">due date</th>
            <th class="border-4 p-2">assingnee</th>
            <th class="border-4 p-2">Notes</th>
        </tr>
        <tr class="border-4 p-2" *ngFor="let data of allTask">
          <td><input type="checkbox" [(ngModel)]="data.data.status" (change)="updateTaskStatus(data)"></td>
          <td class="border-4 p-2">{{data.data.task}}</td>
          <td class="border-4 p-2">{{data.data.duedate}}</td>
          <td class="border-4 p-2">{{data.data.assingnee}}</td>
          <td class="border-4 p-2 w-80">{{data.data.note}}<br>
            <button *ngIf="editNotesInput != data.data.id" class="p-2 bg-sky-400" (click)="updateNotes(data.data.id)">Edit Notes</button>
            <div *ngIf="editNotesInput == data.data.id">
              <input type="text" placeholder="Updated Notes" [(ngModel)]="updatedNote" name="updatedNote">
              <button class="p-2 bg-sky-400" (click)="editNotes(data.data.id)">Update</button>
            </div>
          </td>
        </tr>
    </table>
</div>
<div class="justify-center items-center flex">
<form
  class="border-2 border-solid  border-black p-10 inset-1 flex flex-col bg-white w-80"
  method="post"
  name="loginform"
  
>
  <label class="mt-2 mb-2" for="task">Task</label>
  <input
    class="border-black border-1 border p-2"
    type="text"
    placeholder="task"
    name="task"
    [(ngModel)]="task"
  />
  <label class="mt-2 mb-2" for="dueDate">Due Date</label>
  <input
    class="border-black border-1 border p-2"
    type="date"
    placeholder="password"
    name="dueDate"
    [(ngModel)]="dueDate"
  />
  
  <label>Notes</label>
  <input class="border-black border-1 border p-2" [(ngModel)]="note" name="data" placeholder="Add Notes">
  <label class="mt-2 mb-2" for="dueDate">Assingnee</label>
  <select class="border-black border-1 border p-2" [(ngModel)]="assingnee" name="assingnee">
    <option selected disabled>Select Assingnee</option>
      <option *ngFor="let d of allData" [value]="d.username">{{ d.username }}</option>
  </select>


  <button class="text-center bg-sky-400 p-1" type="submit" value="submit" (click)="onSubmit()">
    SUBMIT
  </button>
</form>
</div>
</div>