<app-teamleader-header></app-teamleader-header>
<section class="items-center">
  <h1 class="text-3xl text-blue-800 mt-10 ml-5 font-semibold">OUR SERVICES</h1>
  <div class="flex flex-row text-center">
    <div
      class="group hover:bg-blue-700 hover:scale-110 hover:transition-all hover:duration-1000 h-72 w-96 border-double border-8 border-blue-800 m-14">
      <i
        class="text-6xl h-28 w-28 rounded-full group-hover:text-white text-blue-700 mt-20 fa-solid fa-laptop-code favicon"></i>
      <p class="text-blue-700 group-hover:text-white">Web Development</p>
    </div>


    <div
      class="group hover:bg-blue-700 hover:scale-110 hover:transition-all hover:duration-1000 h-72 w-96 border-double border-8 border-blue-800 m-14">
      <i
        class="text-6xl h-28 w-28 rounded-full group-hover:text-white text-blue-700 mt-20 fa-sharp fa-solid fa-screwdriver-wrench favicon"></i>
      <p class="text-blue-700 group-hover:text-white">Maintenance</p>
    </div>


    <div
      class="group hover:bg-blue-700 hover:scale-110 hover:transition-all hover:duration-1000 h-72 w-96 border-double border-8 border-blue-800 m-14">
      <i
        class="text-6xl h-28 w-28 rounded-full group-hover:text-white text-blue-700 mt-20 fa-solid fa-code favicon"></i>
      <p class="text-blue-700 group-hover:text-white">Coading</p>
    </div>
  </div>
  <div class="flex flex-row text-center">
    <div
      class="group hover:bg-blue-700 hover:scale-110 hover:transition-all hover:duration-1000 h-72 w-96 border-double border-8 border-blue-800 m-14">
      <i
        class="text-6xl h-28 w-28 rounded-full group-hover:text-white text-blue-700 mt-20 fa-solid fa-microchip favicon"></i>
      <p class="text-blue-700 group-hover:text-white">IoT</p>
    </div>
    <div
      class="group hover:bg-blue-700 hover:scale-110 hover:transition-all hover:duration-1000 h-72 w-96 border-double border-8 border-blue-800 m-14">
      <i
        class="text-6xl h-28 w-28 rounded-full group-hover:text-white text-blue-700 mt-20 fa-solid fa-robot favicon"></i>
      <p class="text-blue-700 group-hover:text-white">AI / ML</p>
    </div>
    <div
      class="group hover:bg-blue-700 hover:scale-110 hover:transition-all hover:duration-1000 h-72 w-96 border-double border-8 border-blue-800 m-14">
      <i
        class="text-6xl h-28 w-28 rounded-full group-hover:text-white text-blue-700 mt-20 fa-brands fa-paypal favicon"></i>
      <p class="text-blue-700 group-hover:text-white">Payment Gatways</p>
    </div>
  </div>
</section>