<app-teamleader-header></app-teamleader-header>
<div *ngFor="let values of allUserProfile">
    <div *ngIf="values.username == currentUser">
        <img src="{{values.profile_pic}}" class="h-64 w-48">
        <h4>Username:-{{values.username}}</h4>
        <h4>Address:-{{values.address}}</h4>
        <h4>Technologies:-{{values.techlonologies}}</h4>
        <h4>Gender:-{{values.gender}}</h4>
        <h4>Phone Number:-{{values.phone_no}}</h4>
        <h4>Email:-{{values.email}}</h4>
    </div>
</div>